In [1]:
import re
import pandas as pd

In [14]:
# read csv files list_of_jobs_jobstreet.csv
job_dataset = pd.read_csv('2024-05-15.csv')

# drop duplicates based on job id
job_dataset = job_dataset.drop_duplicates(subset='Job ID', keep='first')
job_dataset.reset_index(drop=True, inplace=True)

In [15]:
job_dataset.isnull().sum()

In [6]:
len(job_dataset)

1771

In [ ]:
job_dataset['Company Name'].fillna('-', inplace=True)
job_dataset['Salary'].fillna('-', inplace=True)
job_dataset['Facility'].fillna('-', inplace=True)

In [19]:
job_dataset = job_dataset[job_dataset['Job Classification'] != 'Pekerjaan Lepas']

In [ ]:
job_dataset['Job Sub Classification'].value_counts()

In [37]:
job_dataset.drop('Job Classification',axis=1,inplace=True)

In [ ]:
job_dataset

In [29]:
job_dataset.to_csv('2024-05-15.csv',index=False)

In [ ]:
job_dataset['Job Type'].replace('Full time','full_time',inplace=True)
job_dataset['Job Type'].replace('Kontrak','contract',inplace=True)
job_dataset['Job Type'].replace('Paruh waktu','part_time',inplace=True)

In [ ]:
job_dataset[job_dataset['Job Sub Classification'] != 'Developer/Programmer']

In [30]:
job_dataset['scrapped_date'] = pd.Timestamp.now().strftime('%Y-%m-%d')

In [ ]:
job_dataset

In [33]:
job_dataset.to_csv('2024-05-15.csv',index=False)

## Categorize Each Data

In [7]:
# job_sub_categories = {
#     "golang" : ["golang"],
#     ".net" : [".net", "asp"],
#     "php" : ["php", "code igniter","laravel", "lumen"], #CI
#     "java" : ["java", "springboot"],
#     "python" : ["python", "flask"],
#     "nodejs" : ["node js", "express js", "expressjs", "nodejs", "node", "node-js"],
#     "reactjs" : ["reactjs", "react-js", "react js", "react"],
#     "nextjs" : ["nextjs", "next-js", "next js", "next"],
#     "angularjs" : ["angular", "angularjs"],
#     "fluter" : ["fluter"],
#     "kotlin" : ["kotlin"],
#     "vuejs" : ["vue-js", "vuejs", "vue", "vue js"],
#     "backend" : ["back-end", "backend", "back end", "ruby"],
#     "frontend" : ["front-end", "frontend", "front end", "svelte", "nuxt"],
#     "mobile" : ["mobile", "mobile dev", "mobile apps", "react native", "native", "android", "ios"],
#     "data" : ["data-engineer", "data engineer", "de", "data", "scientist", "analyst", "sql"],
#     "other_it" : ["software engineer", "software developer", "software", "full-stack", "fullstack", "programmer", "javascript"]
# }

# # # Create a new column 'Job Category' with default value 'Other'
# job_dataset['Job Sub Category'] = 'Other'

# # # Convert job titles and categories to lowercase for case-insensitive comparison
# job_dataset['Job Title'] = job_dataset['Job Title'].str.lower()
# job_sub_categories = {key.upper(): [title.lower() for title in titles] for key, titles in job_sub_categories.items()}

# # # Iterate over job categories and update 'Job Category' column based on job title
# for category, keywords in job_sub_categories.items():
#     try:
#         for keyword in keywords:
#             job_dataset.loc[job_dataset['Job Title'].str.contains(keyword, na=False, regex=False), 'Job Sub Category'] = category
#     except ValueError as e:
#         print(f"ValueError: {e}")
#         print(f"Problematic rows: {job_dataset[job_dataset['Job Title'].str.contains(keyword)].index}")

In [8]:
def clean_column(job_dataset, column_name):
    corpus = []
    for i in range(0, len(job_dataset)):
        text = re.sub('[^a-zA-Z]', ' ', job_dataset[column_name][i])
        text = text.title()
        text = text.split()
        text = ' '.join(text)
        corpus.append(text)

    job_dataset[column_name] = corpus
    return job_dataset

In [9]:
column_name = ['Job Title', 'Company Name', 'Location','Facility','Job Classification','Job Sub Classification']
for i in column_name:
    job_dataset = clean_column(job_dataset, i)

In [10]:
job_dataset['Company Name'] = job_dataset['Company Name'].str.upper()

In [11]:
# make company name value in uppercase
job_dataset

,Job Title,Company Name,Location,Salary,Job Classification,Job Sub Classification,Facility,Posted Date,Job Type,Job Description,More Detail,Job ID,Job Sub Category
0,Admin Data Entry,PT FIRST PROPERTI ABADI,Yogyakarta,"Rp1,800,000 – Rp2,000,000 per month",Administrasi Dukungan Perkantoran,Entri Data Pengolahan Kata,Not Written,2024-03-14,Full time,PT. KONGLO MUDA PROPERTI adalah salah satu per...,https://www.jobstreet.co.id/id/job/74425476?ty...,74425476,DATA
1,Data Engineer,PT PERMODALAN NASIONAL MADANI,Jakarta Selatan,not_written,Teknologi Informasi Komunikasi,Teknik Perangkat Lunak,Asuransi Kesehatan Tunjangan Kinerja Insentif,2024-03-16,Kontrak,Qualifications:1. Pendidikan minimal S1 di bid...,https://www.jobstreet.co.id/id/job/74488809?ty...,74488809,DATA
2,Data Center Manager,EQUINIX SDN BHD,Jakarta Raya,not_written,Teknologi Informasi Komunikasi,Manajemen,Career Growth Opportunities Outstanding Compan...,2024-03-18,Full time,Equinix is the world’s digital infrastructure ...,https://www.jobstreet.co.id/id/job/74395033?ty...,74395033,DATA
3,Data Scientist,PT SERASI AUTORAYA MEMBER OF ASTRA,Jakarta Timur,not_written,Sains Teknologi,Matematika Statistik Teknik Informasi,Not Written,2024-03-14,Full time,"Job Description: Provide data modelling, minin...",https://www.jobstreet.co.id/id/job/74428274?ty...,74428274,DATA
4,Business Analyst Manager,PT HEMA MEDHAJAYA,Cikupa,not_written,Teknologi Informasi Komunikasi,Analis Bisnis Sistem,Career Growth Bpjs Working Days Monday To Friday,2024-03-16,Full time,Qualifications:Minimum bachelor's degree in bu...,https://www.jobstreet.co.id/id/job/74490352?ty...,74490352,DATA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7612,Sr Sales Manager Wedding Social Event,HILTON BALI RESORT,Jakarta Utara,not_written,Hospitaliti Pariwisata,Manajemen,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/73186431?ty...,73186431,PHP
7613,Ui Ux Consultant,PT ERNST YOUNG INDONESIA,Jakarta Raya,not_written,Teknologi Informasi Komunikasi,Arsitek,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/72380507?ty...,72380507,Other
7614,Retail Credit Function Head,PT BANK AMAR INDONESIA,Jakarta Raya,not_written,Penjualan,Pengembangan Bisnis Baru,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/73569700?ty...,73569700,Other
7615,Account Manager Oil Gas,PT TRIMAXINDO INTERNATIONAL INDONESIA,Jakarta Raya,not_written,Penjualan,Pengembangan Bisnis Baru,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/72358532?ty...,72358532,Other
7616,Solutions Engineer Apac Work Location Jakarta,LIMINAL,Jakarta Raya,not_written,Teknologi Informasi Komunikasi,Developer Programmer,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/72381511?ty...,72381511,Other

## Cleaning Salary

In [12]:
def checking_salary_period(salary):
    if 'year' in salary:
        return 'year'
    elif 'month' in salary:
        return 'month'
    elif 'week' in salary:
        return 'week'
    elif 'day' in salary:
        return 'day'
    elif 'hour' in salary:
        return 'hour'
    else:
        return 'not_written'

In [13]:
job_dataset['period_of_salary'] = job_dataset['Salary'].apply(checking_salary_period)

In [14]:
def cleaning_salary_period(salary):
    if 'per month' in salary:
        salary = re.sub(r'per month', '', salary)
    elif 'per year' in salary:
        salary = re.sub(r'per year', '', salary)
    elif 'per week' in salary:
        salary = re.sub(r'per week', '', salary)
    elif 'per day' in salary:
        salary = re.sub(r'per day', '', salary)
    elif 'per hour' in salary:
        salary = re.sub(r'per hour', '', salary)
    return salary

In [15]:
job_dataset['Salary'] = job_dataset['Salary'].apply(cleaning_salary_period)

In [16]:
job_dataset['Compensation'] = job_dataset[(job_dataset['Salary'] != 'not_written') & ~(job_dataset['Salary'].str.contains('-')) & ~(job_dataset['Salary'].str.contains('–')) & ~(job_dataset['Salary'].str.contains('[0-9]'))]['Salary']

In [17]:
def checking_currency(salary):
    currency_map = {
        'Rp': 'IDR',
        'IDR': 'IDR',
        'USD': 'USD',
        '$': 'USD',
        'RM': 'RM',
        'SGD': 'SGD',
        'MYR': 'MYR',
        'AUD': 'AUD',
        'EUR': 'EUR',
        'HKD': 'HKD',
        '฿': 'THB',
        'THB': 'THB'
    }
    for key, value in currency_map.items():
        if key in salary:
            return value
    return 'not_written'

In [18]:
job_dataset['salary_currency'] = job_dataset['Salary'].apply(checking_currency)

In [19]:
def cleaning_currency(salary):
    currency_symbols = ['IDR', 'Rp', '$', '(USD)', 'SGD', 'MYR', 'AUD', 'EUR', 'RM', 'HKD', '฿', '(THB)', '()']
    
    for symbol in currency_symbols:
        salary = salary.replace(symbol, '')

    if ' ' in salary:
        salary = salary.replace(' ', '')
    elif salary == 'not_written':
        salary = salary

    return salary

In [20]:
job_dataset['Salary'] = job_dataset['Salary'].apply(cleaning_currency)

In [21]:
# deleting . , and space in salary
job_dataset['Salary'] = job_dataset['Salary'].str.replace('[,. ]', '', regex=True).str.strip()

In [22]:
# replace Nan value in compensation with 'not_written'
job_dataset['Compensation'].fillna('not_written', inplace=True)

In [23]:
# job_dataset['Salary'].str.contains('–') replace '–' with '-'
job_dataset['Salary'] = job_dataset['Salary'].str.replace('–', '-')

In [24]:
def average_salary(row):
    try:
        salary = row['Salary']
        if '-' in salary:
            salary = salary.split('-')
            salary = list(map(int, salary))
            salary = sum(salary)/len(salary)
        else:
            salary = salary  # Convert salary to integer
        return salary
    except ValueError as e:
        print(f"Invalid value for salary: {salary} in row {row}. Error: {e}")
        return None  # Return None for invalid salaries

job_dataset['Salary'] = job_dataset.apply(average_salary, axis=1)

Invalid value for salary: ['', ''] in row Job Title                        Asean Distribution Manager Route To Market
Company Name                        PT MICHAEL PAGE INTERNASIONAL INDONESIA
Location                                                       Jakarta Raya
Salary                                                                    -
Job Classification                                                Penjualan
Job Sub Classification                             Pengembangan Bisnis Baru
Facility                                                        Not Written
Posted Date                                                      2024-03-16
Job Type                                                                NaN
Job Description                                                         NaN
More Detail               https://www.jobstreet.co.id/id/job/73971260?ty...
Job ID                                                             73971260
Job Sub Category                                                      Other
period_of_salary                                                not_written
Compensation                                                    not_written
salary_currency                                                 not_written
Name: 5534, dtype: object. Error: invalid literal for int() with base 10: ''
Invalid value for salary: ['25', '30million'] in row Job Title                          Accounting Manager Agribusiness Industry
Company Name                        PT MICHAEL PAGE INTERNASIONAL INDONESIA
Location                                                      Jakarta Utara
Salary                                                         25-30million
Job Classification                                                Akuntansi
Job Sub Classification                        Akuntansi Pelaporan Finansial
Facility                                                        Not Written
Posted Date                                                      2024-03-16
Job Type                                                                NaN
Job Description                                                         NaN
More Detail               https://www.jobstreet.co.id/id/job/73949827?ty...
Job ID                                                             73949827
Job Sub Category                                                      Other
period_of_salary                                                not_written
Compensation                                                    not_written
salary_currency                                                 not_written
Name: 5658, dtype: object. Error: invalid literal for int() with base 10: '30million'

In [25]:
job_dataset['Job Sub Category'].value_counts()

Job Sub Category
Other                 5537
DATA                  1351
PHP                    556
OTHER_IT               112
JAVA                    12
BACKEND                  9
MOBILE                   7
Information System       6
FRONTEND                 6
.NET                     5
GOLANG                   4
PYTHON                   4
AI                       2
NODEJS                   2
RUBY                     2
IT_SUPPORT               1
QA                       1
Name: count, dtype: int64

In [26]:
job_dataset[job_dataset['Job Sub Category'] == 'OTHER_ITI']

Empty DataFrame
Columns: [Job Title, Company Name, Location, Salary, Job Classification, Job Sub Classification, Facility, Posted Date, Job Type, Job Description, More Detail, Job ID, Job Sub Category, period_of_salary, Compensation, salary_currency]
Index: []

## Job Subcategory Cleaning

In [27]:
# def extract_job_id(url):
#     parts = url.split('/')
#     job_id_with_query = parts[-1]
#     job_id = job_id_with_query.split('?')[0]
#     return job_id

# job_dataset['Job ID'] = job_dataset['More Detail'].apply(extract_job_id)
# job_dataset = job_dataset.drop_duplicates(subset='Job ID', keep='first')

In [28]:
# job_sub_categories = {
#     'business intelligence': ['business intelligence','bisnis analis', 'business analyst', 'it business'],
#     'cloud computing': ['cloud', 'cloud consultant', 'cloud devops engineer', 'cloud engineer', 'cloud infrastructure engineer', 'cloud security specialist', 'cloud solutions architect'],
#     'cyber security': ['cyber', 'cyber security', 'data privacy', 'network security', 'security'],
#     'data': ['data', 'data analyst', 'data engineer', 'data scientist', 'database administrator'],
#     'design': ['design', 'desain', 'designer', 'editor', 'grafis', 'graphic', 'interior','ui', 'user experience', 'ux', 'ux researcher', 'ux writer', 'user interface'],
#     'ui ux':['ui', 'user experience', 'ux', 'ux researcher', 'ux writer', 'user interface'],
#     'information system': ['erp', 'information system', 'system analyst', 'odoo', 'sap','system'],
#     'it': ['ai', 'ai engineer', 'ai ethics specialist', 'ai ml', 'ai project', 'ai research scientist', 'ai trainer', 'backend', 'back end', 'cloud', 'dev ops', 'devops', 'devops engineer', 'flutter', 'front end', 'front-end', 'full stack', 'fullstack', 'golang', 'help desk technician', 'ios developer', 'it', 'it manager', 'it risk management', 'it service desk', 'it staff', 'java', 'javascript developer', 'machine learning', 'machine learning engineer', 'ml analyst', 'ml consultant', 'ml engineer', 'ml modeler', 'ml researcher', 'mobile apps', 'mobile developer', 'mobile programmer', 'nextjs', 'php developer', 'python', 'react', 'security specialist', 'software developer', 'software engineer', 'systems analysis', 'technical support', 'web', 'web desain', 'web designer', 'web developer'],
#     # 'product management': ['it presales(ordo)', 'product', 'product analyst', 'product owner', 'project'],
#     'quality control': ['quality', 'quality assurance', 'quality control', 'software quality assurance', 'qa', 'qc'],
# }

# job_dataset['Job Sub Category'] = 'Other'

# job_dataset['Job Title'] = job_dataset['Job Title'].str.lower()
# job_sub_categories = {key.upper(): [title.lower() for title in titles] for key, titles in job_sub_categories.items()}

# for category, keywords in job_sub_categories.items():
#     for keyword in keywords:
#         job_dataset.loc[job_dataset['Job Title'].str.contains(keyword), 'Job Sub Category'] = category

# # Display the updated DataFrame

In [29]:
# job_sub_categories = {
#     'data': ['data mining','big data','data science','data scientist','data engineer','data analyst','data-engineer','scientist','sql'],
#     # 'web development': ['web developer', 'backend','back-end', 'full stack', 'web designer','fullstack','web developer ','web desain','back end','web programmer','web','it staff'],
#     'frontend':['frontend','front end','front-end','svelte','nuxt'],
#     'backend':['backend','back end','back-end','ruby'],
#     # 'fullstack':['fullstack','full stack','full-stack','full stack developer','fullstack developer'],
#     'ui ux': ['ui ux','uiux','ui/ux designer','ui','user experience ','ux','user interface'],
#     'ai/ml engineering': ['ai engineer', 'machine learning','artificial intelligence','deep learning','nlp','natural language processing','computer vision'],
#     'business analyst': ['business analyst','bisnis analis','it business','business intelligence'],   
#     'cloud engineering': ['cloud','cloud engineer'],
#     'cyber security': ['cyber security', 'network security','cyber security ',' security','data privacy','security specialist'],
#     'devops': ['devops','dev ops'],
#     'it management': ['it manager','it risk management'],
#     'it support': ['it support','it application support','helpdesk technician'],
#     'network administration': ['network administrator','network '],
#     'product management': ['product manager', 'product owner', 'product analyst','project manager'],
#     'software quality_assurance': ['software quality assurance'],
#     'software engineering': ['software engineer', 'software developer','javascript','developer'],
#      "golang" : ["golang"],
#     ".net" : [".net", "asp"],
#     "php" : ["php", "code igniter", "ci", "laravel", "lumen"],
#     "java" : ["java", "springboot"],
#     "python" : ["python", "flask"],
#     "nodejs" : ["node js", "express js", "expressjs", "nodejs", "node", "node-js"],
#       "reactjs" : ["reactjs", "react-js", "react js", "react"],
#     "nextjs" : ["nextjs", "next-js", "next js", "next"],
#     "angularjs" : ["angular", "angularjs"],
#     "fluter" : ["fluter"],
#     "kotlin" : ["kotlin"],
#     'programmer' : ['programmer'],
#     'systems analysis': ['system analyst', 'system administrator','system engineer'],
#     'mobile development': ['mobile', 'ios','android','mobile apps','mobile dev','react native','native'],
#     'game development': ['game'],
#     'information system': ['erp', 'odoo','information system support','information system'],
#     'other_it':['"software engineer", "software developer", "software", "full-stack", "fullstack", "programmer", "javascript"']
# }

# job_dataset['Job Sub Category'] = 'Other'

# job_dataset['Job Title'] = job_dataset['Job Title'].str.lower()
# job_sub_categories = {key.upper(): [title.lower() for title in titles] for key, titles in job_sub_categories.items()}

# for category, keywords in job_sub_categories.items():
#     for keyword in keywords:
#         job_dataset.loc[job_dataset['Job Title'].str.contains(keyword), 'Job Sub Category'] = category

# # Display the updated DataFrame

## Job Subcategory Replacing

In [30]:
job_dataset.loc[job_dataset['Job Sub Category'] == 'PHP', 'Job Sub Category'] = 'Other'

job_dataset.loc[(job_dataset['Job Title'].str.contains('Finance'))  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'
job_dataset.loc[(job_dataset['Job Title'].str.contains('Hr'))  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'
job_dataset.loc[(job_dataset['Job Title'].str.contains('Human'))  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'
job_dataset.loc[(job_dataset['Job Title'].str.contains('Customer'))  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'
job_dataset.loc[(job_dataset['Job Title'].str.contains('Sales'))  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'

In [31]:
job_dataset[(job_dataset['Job Title'].str.contains('Desain Arsitektur'))  & (job_dataset['Job Sub Category'] == 'DATA')]

Empty DataFrame
Columns: [Job Title, Company Name, Location, Salary, Job Classification, Job Sub Classification, Facility, Posted Date, Job Type, Job Description, More Detail, Job ID, Job Sub Category, period_of_salary, Compensation, salary_currency]
Index: []

In [32]:
job_dataset[(job_dataset['Job Title'].str.contains('Dosen tetap teknik'))  & (job_dataset['Job Sub Category'] == 'Other')]['Job Sub Category'].replace('Other','Dosen')

Series([], Name: Job Sub Category, dtype: object)

In [33]:
job_dataset['Job Sub Category'].value_counts()

Job Sub Category
Other                 6191
DATA                  1253
OTHER_IT               112
JAVA                    12
BACKEND                  9
MOBILE                   7
Information System       6
FRONTEND                 6
.NET                     5
PYTHON                   4
GOLANG                   4
AI                       2
NODEJS                   2
RUBY                     2
QA                       1
IT_SUPPORT               1
Name: count, dtype: int64

In [34]:
job_dataset[(job_dataset['Job Sub Category'] == 'DATA') & (job_dataset['Job Classification'] == 'Pendidikan Pelatihan')]

,Job Title,Company Name,Location,Salary,Job Classification,Job Sub Classification,Facility,Posted Date,Job Type,Job Description,More Detail,Job ID,Job Sub Category,period_of_salary,Compensation,salary_currency
76,Dosen Prodi Data Science Ubm Kampus Serpong,UNIVERSITAS BUNDA MULIA YAYASAN PENDIDIKAN BUN...,Tangerang,not_written,Pendidikan Pelatihan,Pengajaran Pendidikan Tinggi,Not Written,2024-03-14,Full time,Kualifikasi Umum :Usia maksimal 45 tahunMampu ...,https://www.jobstreet.co.id/id/job/74451291?ty...,74451291,DATA,not_written,not_written,not_written
495,Lms Data Entry Intern,SILOAM HOSPITALS GROUP TBK,Karawaci,2100000.0,Pendidikan Pelatihan,Pelatihan Penilaian Tempat Kerja,Not Written,2024-03-16,Kontrak,"Job Description: Administration of NEW LMS ""PL...",https://www.jobstreet.co.id/id/job/73916114?ty...,73916114,DATA,month,not_written,IDR
587,Dosen Prodi Data Science Ubm Kampus Ancol,UNIVERSITAS BUNDA MULIA YAYASAN PENDIDIKAN BUN...,Jakarta Raya,not_written,Pendidikan Pelatihan,Pengajaran Pendidikan Tinggi,Not Written,2024-03-16,Full time,Job Descriptions :Provide the best learning ex...,https://www.jobstreet.co.id/id/job/73966090?ty...,73966090,DATA,not_written,not_written,not_written
612,Dosen Prodi Data Science Ubm Kampus Serpong,UNIVERSITAS BUNDA MULIA YAYASAN PENDIDIKAN BUN...,Tangerang,not_written,Pendidikan Pelatihan,Pengajaran Pendidikan Tinggi,Not Written,2024-03-16,Full time,Kualifikasi Umum :Usia maksimal 45 tahunMampu ...,https://www.jobstreet.co.id/id/job/73916880?ty...,73916880,DATA,not_written,not_written,not_written
3738,Kindergarten Teacher,KIDZ CASTLE PRESCHOOL KINDERGARTEN,Jakarta Barat,4750000.0,Pendidikan Pelatihan,Pengajaran Pendidikan Usia Dini,Attractive Bonuses Paid Holidays Trainings Pro...,2024-03-17,NaN,NaN,https://www.jobstreet.co.id/id/job/74143663?ty...,74143663,DATA,month,not_written,IDR
5249,Dosen Tetap Teknik Informatika Location Deltam...,NOT WRITTEN,Cikarang,not_written,Pendidikan Pelatihan,Pengajaran Pendidikan Tinggi,Not Written,2024-03-16,NaN,NaN,https://www.jobstreet.co.id/id/job/73935725?ty...,73935725,DATA,not_written,not_written,not_written
5356,Preschool Kindergarten Teacher,BLOSSOM INTERNATIONAL SCHOOL,Jakarta Barat,5250000.0,Pendidikan Pelatihan,Pengajaran Pendidikan Usia Dini,Not Written,2024-03-16,NaN,NaN,https://www.jobstreet.co.id/id/job/73897893?ty...,73897893,DATA,month,not_written,IDR
5719,Learning Content Developer Intern,PT INDOBIT DIGITAL RAYA,Kecamatan Tangerang,not_written,Pendidikan Pelatihan,Pelatihan Penilaian Tempat Kerja,Hybrid Working Competitive Salary Courses And ...,2024-03-16,NaN,NaN,https://www.jobstreet.co.id/id/job/73827636?ty...,73827636,DATA,not_written,not_written,not_written
5901,High School Design Technology Teacher,JAKARTA INTERCULTURAL SCHOOL,Jakarta Selatan,not_written,Pendidikan Pelatihan,Pengajaran Pendidikan Menengah,Work Life Balance Competititve Benefit Profess...,2024-03-16,NaN,NaN,https://www.jobstreet.co.id/id/job/73824570?ty...,73824570,DATA,not_written,not_written,not_written
6048,Service Development Analyst,ASURANSI ASTRA,Jakarta Raya,not_written,Pendidikan Pelatihan,Pelatihan Penilaian Tempat Kerja,Not Written,2024-03-09,NaN,NaN,https://www.jobstreet.co.id/id/job/74338403?ty...,74338403,DATA,not_written,not_written,not_written
6147,Data Analytic Reporting Officer,YAYASAN BINA NUSANTARA,Jakarta Raya,not_written,Pendidikan Pelatihan,Pelatihan Penilaian Tempat Kerja,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/73630969?ty...,73630969,DATA,not_written,not_written,not_written
6151,Senior Researcher Bioinformatics Data Science,YAYASAN BINA NUSANTARA,Jakarta Raya,not_written,Pendidikan Pelatihan,Penelitian Beasiswa,Not Written,2024-03-16,NaN,NaN,https://www.jobstreet.co.id/id/job/73887321?ty...,73887321,DATA,not_written,not_written,not_written
6219,Business Process Analyst,YAYASAN BINA NUSANTARA,Jakarta Raya,not_written,Pendidikan Pelatihan,Pelatihan Penilaian Tempat Kerja,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/73570106?ty...,73570106,DATA,not_written,not_written,not_written
6291,Functional Analyst Documentation Officer,YAYASAN BINA NUSANTARA,Jakarta Raya,not_written,Pendidikan Pelatihan,Pelatihan Penilaian Tempat Kerja,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/73631111?ty...,73631111,DATA,not_written,not_written,not_written
6373,Staff Academic,DE ACCESS MALANG HOTEL CULINARY TRAINING CENTER,Malang,not_written,Pendidikan Pelatihan,Pengasuhan Anak Perawatan Di Luar Jam Sekolah,Not Written,2024-03-17,NaN,NaN,https://www.jobstreet.co.id/id/job/74168672?ty...,74168672,DATA,not_written,not_written,not_written
6905,Student Advisor Denpasar Mahendradata,RUANGGURU COM,Denpasar,not_written,Pendidikan Pelatihan,Bimbingan Siswa,Not Written,2024-03-17,NaN,NaN,https://www.jobstreet.co.id/id/job/74160319?ty...,74160319,DATA,not_written,not_written,not_written
7176,Web Development Lecturer Jakarta,PT PURWADHIKA KIRANA NUSANTARA,Jakarta Raya,not_written,Pendidikan Pelatihan,Pelatihan Penilaian Tempat Kerja,Not Written,2024-03-16,NaN,NaN,https://www.jobstreet.co.id/id/job/73841721?ty...,73841721,DATA,not_written,not_written,not_written
7285,Faculty Qualification Academic Recognition Off...,YAYASAN BINA NUSANTARA,Jakarta Raya,not_written,Pendidikan Pelatihan,Manajemen Universitas,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/73767007?ty...,73767007,DATA,not_written,not_written,not_written
7504,Junior Application Development Staff,YAYASAN BINA NUSANTARA,Jakarta Raya,not_written,Pendidikan Pelatihan,Pelatihan Penilaian Tempat Kerja,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/73630999?ty...,73630999,DATA,not_written,not_written,not_written
7534,Deputy Head Of Department Computer Science,YAYASAN BINA NUSANTARA,Jakarta Raya,not_written,Pendidikan Pelatihan,Pengajaran Pendidikan Tinggi,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/73630958?ty...,73630958,DATA,not_written,not_written,not_written

In [35]:
job_dataset.loc[(job_dataset['Job Classification'] == 'Real Estat Properti')  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'
job_dataset.loc[(job_dataset['Job Classification'] == 'Pertambangan Sumber Daya Alam Energi')  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'
job_dataset.loc[(job_dataset['Job Classification'] == 'Ritel Produk Konsumen')  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'
job_dataset.loc[(job_dataset['Job Classification'] == 'Pertanian Hewan Konservasi')  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'
job_dataset.loc[(job_dataset['Job Classification'] == 'Hukum')  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'

job_dataset.loc[(job_dataset['Job Classification'] == 'Konstruksi')  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'
job_dataset.loc[(job_dataset['Job Classification'] == 'Asuransi Dana Pensiun')  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'
job_dataset.loc[(job_dataset['Job Classification'] == 'Periklanan Seni Media')  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'
job_dataset.loc[(job_dataset['Job Classification'] == 'Kesehatan Medis')  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'
job_dataset.loc[(job_dataset['Job Classification'] == 'Call Center Layanan Konsumen')  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'
job_dataset.loc[(job_dataset['Job Classification'] == 'Sumber Daya Manusia Perekrutan')  & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'

In [36]:
# - Gis Analyst
# - Chemical Analyst Sentul
# - Monomer Bd Lab Analyst
# - Penanggungjawab Teknis Alat Kesehatan Regulatory Affairs Medical Devices
# - Research And Development Staff
# - Penanggungjawab Teknis Alat Kesehatan Regulatory Affairs Medical Devices
# - Qc Laboratorium Qc Analyst Bahan Pangan
# - Laboratory Analyst Internship
# - Senior Product Development
# - Staff Research And Development
# - Laboratory Analyst Manado Sulawesi Utara
# - Process Development Technologist Beverages
# - Performance Marketing Analyst
# - Deputy Head Technical

# non_data = ['Gis Analyst','Chemical Analyst Sentul','Monomer Bd Lab Analyst','Penanggungjawab Teknis Alat Kesehatan Regulatory Affairs Medical Devices','Research And Development Staff','Penanggungjawab Teknis Alat Kesehatan Regulatory Affairs Medical Devices','Qc Laboratorium Qc Analyst Bahan Pangan','Laboratory Analyst Internship','Senior Product Development','Staff Research And Development','Laboratory Analyst Manado Sulawesi Utara','Process Development Technologist Beverages','Performance Marketing Analyst','Deputy Head Technical']

# - Senior Modeling Validation
# - Junior Modeling Validation
# - Machine Learning Developer
# - Junior Model Validation Akulaku Indonesia
# - Manager Artificial Intelligence Data Financial Services Indonesia
# - Ai Data Engineer
# - Mechanical Engineer Cfd Specialist Mcf Data Centres

ai_data = ['Senior Modeling Validation','Junior Modeling Validation','Machine Learning Developer','Junior Model Validation Akulaku Indonesia','Manager Artificial Intelligence Data Financial Services Indonesia','Ai Data Engineer','Mechanical Engineer Cfd Specialist Mcf Data Centres']

for i in ai_data:
    job_dataset.loc[(job_dataset['Job Title'].str.contains(i)) & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'AI/ML'

In [37]:
# job_dataset.loc[(job_dataset['Job Classification'] == 'Teknik') & (job_dataset['Job Sub Category'] == 'DATA'),'Job Sub Category'] = 'Other'
# job_dataset.loc[(job_dataset['Job Classification'] == 'Teknologi Informasi Komunikasi') & (job_dataset['Job Sub Category'] == 'DATA'),'Job
#  Sub Category'] = 'Other'
# job_dataset[(job_dataset['Job Classification'] == 'Teknologi Informasi Komunikasi') & (job_dataset['Job Sub Category'] == 'DATA')]
# job_dataset.loc[(job_dataset['Job Classification'] == 'Penjualan') & (job_dataset['Job Sub Category'] == 'DATA') & (job_dataset['Job Sub Classification'] == 'Koordinator Penjualan'),'Job Sub Classification'] = 'Other'

job_dataset.loc[(job_dataset['Job Sub Category'] == 'DATA') & (job_dataset['Job Title'].str.contains('Web Developer')), 'Job Sub Category'] = 'System Analyst'

In [38]:
job_dataset.loc[(job_dataset['Job Sub Category'] == 'DATA') & (job_dataset['Job Title'].str.contains('System Analyst')), 'Job Sub Category'] = 'System Analyst'

In [39]:
job_dataset.loc[(job_dataset['Job Sub Category'] == 'DATA') & job_dataset['Job Classification'] & (job_dataset['Job Title'].str.contains('Business')),'Job Sub Category'] = 'Business Analyst'

In [40]:
job_dataset[job_dataset['Job Sub Category'] == 'DATA'].to_csv('clean.csv', index=False)

In [41]:
# create new column 'Job Category' that job sub category is not 'Other' fill with 'TEchnology'
job_dataset['Job Category'] = 'Non-Technology'
job_dataset.loc[job_dataset['Job Sub Category'] != 'Other', 'Job Category'] = 'Technology'

In [42]:
job_dataset

,Job Title,Company Name,Location,Salary,Job Classification,Job Sub Classification,Facility,Posted Date,Job Type,Job Description,More Detail,Job ID,Job Sub Category,period_of_salary,Compensation,salary_currency,Job Category
0,Admin Data Entry,PT FIRST PROPERTI ABADI,Yogyakarta,1900000.0,Administrasi Dukungan Perkantoran,Entri Data Pengolahan Kata,Not Written,2024-03-14,Full time,PT. KONGLO MUDA PROPERTI adalah salah satu per...,https://www.jobstreet.co.id/id/job/74425476?ty...,74425476,DATA,month,not_written,IDR,Technology
1,Data Engineer,PT PERMODALAN NASIONAL MADANI,Jakarta Selatan,not_written,Teknologi Informasi Komunikasi,Teknik Perangkat Lunak,Asuransi Kesehatan Tunjangan Kinerja Insentif,2024-03-16,Kontrak,Qualifications:1. Pendidikan minimal S1 di bid...,https://www.jobstreet.co.id/id/job/74488809?ty...,74488809,DATA,not_written,not_written,not_written,Technology
2,Data Center Manager,EQUINIX SDN BHD,Jakarta Raya,not_written,Teknologi Informasi Komunikasi,Manajemen,Career Growth Opportunities Outstanding Compan...,2024-03-18,Full time,Equinix is the world’s digital infrastructure ...,https://www.jobstreet.co.id/id/job/74395033?ty...,74395033,DATA,not_written,not_written,not_written,Technology
3,Data Scientist,PT SERASI AUTORAYA MEMBER OF ASTRA,Jakarta Timur,not_written,Sains Teknologi,Matematika Statistik Teknik Informasi,Not Written,2024-03-14,Full time,"Job Description: Provide data modelling, minin...",https://www.jobstreet.co.id/id/job/74428274?ty...,74428274,DATA,not_written,not_written,not_written,Technology
4,Business Analyst Manager,PT HEMA MEDHAJAYA,Cikupa,not_written,Teknologi Informasi Komunikasi,Analis Bisnis Sistem,Career Growth Bpjs Working Days Monday To Friday,2024-03-16,Full time,Qualifications:Minimum bachelor's degree in bu...,https://www.jobstreet.co.id/id/job/74490352?ty...,74490352,Business Analyst,not_written,not_written,not_written,Technology
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7612,Sr Sales Manager Wedding Social Event,HILTON BALI RESORT,Jakarta Utara,not_written,Hospitaliti Pariwisata,Manajemen,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/73186431?ty...,73186431,Other,not_written,not_written,not_written,Non-Technology
7613,Ui Ux Consultant,PT ERNST YOUNG INDONESIA,Jakarta Raya,not_written,Teknologi Informasi Komunikasi,Arsitek,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/72380507?ty...,72380507,Other,not_written,not_written,not_written,Non-Technology
7614,Retail Credit Function Head,PT BANK AMAR INDONESIA,Jakarta Raya,not_written,Penjualan,Pengembangan Bisnis Baru,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/73569700?ty...,73569700,Other,not_written,not_written,not_written,Non-Technology
7615,Account Manager Oil Gas,PT TRIMAXINDO INTERNATIONAL INDONESIA,Jakarta Raya,not_written,Penjualan,Pengembangan Bisnis Baru,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/72358532?ty...,72358532,Other,not_written,not_written,not_written,Non-Technology
7616,Solutions Engineer Apac Work Location Jakarta,LIMINAL,Jakarta Raya,not_written,Teknologi Informasi Komunikasi,Developer Programmer,Not Written,2024-03-15,NaN,NaN,https://www.jobstreet.co.id/id/job/72381511?ty...,72381511,Other,not_written,not_written,not_written,Non-Technology

# Cleaned Job Dataset

In [43]:
job_dataset
# column name = job title, company name, location, posted_date, job type, job id, job sub category, job description, more detail 
# create new dataframe using above column

cleaned_job_dataset = job_dataset[['Job Title', 'Company Name', 'Location', 'Posted Date', 'Job Type', 'Job ID','Job Category', 'Job Sub Category','More Detail']]

In [44]:
cleaned_job_dataset

,Job Title,Company Name,Location,Posted Date,Job Type,Job ID,Job Category,Job Sub Category,More Detail
0,Admin Data Entry,PT FIRST PROPERTI ABADI,Yogyakarta,2024-03-14,Full time,74425476,Technology,DATA,https://www.jobstreet.co.id/id/job/74425476?ty...
1,Data Engineer,PT PERMODALAN NASIONAL MADANI,Jakarta Selatan,2024-03-16,Kontrak,74488809,Technology,DATA,https://www.jobstreet.co.id/id/job/74488809?ty...
2,Data Center Manager,EQUINIX SDN BHD,Jakarta Raya,2024-03-18,Full time,74395033,Technology,DATA,https://www.jobstreet.co.id/id/job/74395033?ty...
3,Data Scientist,PT SERASI AUTORAYA MEMBER OF ASTRA,Jakarta Timur,2024-03-14,Full time,74428274,Technology,DATA,https://www.jobstreet.co.id/id/job/74428274?ty...
4,Business Analyst Manager,PT HEMA MEDHAJAYA,Cikupa,2024-03-16,Full time,74490352,Technology,Business Analyst,https://www.jobstreet.co.id/id/job/74490352?ty...
...,...,...,...,...,...,...,...,...,...
7612,Sr Sales Manager Wedding Social Event,HILTON BALI RESORT,Jakarta Utara,2024-03-15,NaN,73186431,Non-Technology,Other,https://www.jobstreet.co.id/id/job/73186431?ty...
7613,Ui Ux Consultant,PT ERNST YOUNG INDONESIA,Jakarta Raya,2024-03-15,NaN,72380507,Non-Technology,Other,https://www.jobstreet.co.id/id/job/72380507?ty...
7614,Retail Credit Function Head,PT BANK AMAR INDONESIA,Jakarta Raya,2024-03-15,NaN,73569700,Non-Technology,Other,https://www.jobstreet.co.id/id/job/73569700?ty...
7615,Account Manager Oil Gas,PT TRIMAXINDO INTERNATIONAL INDONESIA,Jakarta Raya,2024-03-15,NaN,72358532,Non-Technology,Other,https://www.jobstreet.co.id/id/job/72358532?ty...
7616,Solutions Engineer Apac Work Location Jakarta,LIMINAL,Jakarta Raya,2024-03-15,NaN,72381511,Non-Technology,Other,https://www.jobstreet.co.id/id/job/72381511?ty...

In [45]:
# connect to mongodb

import pymongo
from pymongo import MongoClient

# connect to mongodb
 
client = MongoClient('mongodb://localhost:27017/')
db = client['jobstreet']
collection = db['jobstreet']

# convert dataframe to dictionary
data_dict = cleaned_job_dataset.to_dict("records")

# insert data to mongodb
collection.insert_many(data_dict)

# check data in mongodb
cursor = collection.find({})
for document in cursor:
    print(document)

ServerSelectionTimeoutError: localhost:27017: [WinError 10061] No connection could be made because the target machine actively refused it (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms), Timeout: 30s, Topology Description: <TopologyDescription id: 662220571ed0164958fb1d72, topology_type: Unknown, servers: [<ServerDescription ('localhost', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('localhost:27017: [WinError 10061] No connection could be made because the target machine actively refused it (configured timeouts: socketTimeoutMS: 20000.0ms, connectTimeoutMS: 20000.0ms)')>]>

In [ ]:

# connect to mongodb
client = MongoClient('localhost', 27017)

# check if connected
if client.is_mongos:
    print("Connected to MongoDB")
    client.close()

else:
    print("Not connected to MongoDB")

# close connection

Not connected to MongoDB