In [3]:
import pandas as pd

In [4]:
job_dataset = pd.read_csv('jobstreet_cleaned.csv')

In [5]:
job_dataset.isnull().sum()

Job Title                 2
Company Name              0
Location                  0
Salary                    0
Job Classification        0
Job Sub Classification    0
Facility                  0
Posted Date               0
More Detail               0
og_period_salary          0
Compensation              0
og_salary_currency        0
Job ID                    0
dtype: int64

In [6]:
job_dataset[job_dataset['Job Title'].isnull()]

,Job Title,Company Name,Location,Salary,Job Classification,Job Sub Classification,Facility,Posted Date,More Detail,og_period_salary,Compensation,og_salary_currency,Job ID
1074,NaN,pt quality life collection,jakarta utara,9000000.0,ritel produk konsumen,asisten ritel,not_written,2024-03-01,https://www.jobstreet.co.id/id/job/74122021?ty...,month,not_written,IDR,74122021
5653,NaN,pt zhongtsing new energy morowali,morowali,10150000.0,manufaktur transportasi logistik,manajemen,not_written,2024-03-03,https://www.jobstreet.co.id/id/job/73547990?ty...,month,not_written,IDR,73547990

In [7]:
job_dataset = pd.read_csv('jobstreet_cleaned.csv')

In [8]:
job_categories = {
    'administration': ['admin', 'administrasi', 'administrative', 'administrative assistant', 'executive assistant', 'office assistant','personal assistant'],
    'beauty': ['beautician', 'beauty', 'beauty therapist', 'klinik kecantikan', 'lash artist', 'nail artist'],
    'blockchain': ['blockchain', 'blockchain architect', 'blockchain consultant', 'blockchain developer', 'cryptocurrency analyst', 'smart contract developer'],
    'business intelligence': ['business intelligence','bisnis analis', 'business analyst', 'it business'],
    'cloud computing': ['cloud', 'cloud consultant', 'cloud devops engineer', 'cloud engineer', 'cloud infrastructure engineer', 'cloud security specialist', 'cloud solutions architect'],
    'construction': ['architect', 'construction', 'kontraktor','sipil','civil','structural'],
    'consulting': ['business consultant', 'consultant'],
    'customer service': ['call center agent', 'customer', 'customer service', 'customer success', 'support'],
    'cyber security': ['cyber', 'cyber security', 'data privacy', 'network security', 'security'],
    'data': ['data', 'data analyst', 'data engineer', 'data scientist', 'database administrator'],
    'design': ['design', 'desain', 'designer', 'editor', 'grafis', 'graphic', 'interior','ui', 'user experience', 'ux', 'ux researcher', 'ux writer', 'user interface'],
    'education': ['academic', 'curriculum developer', 'dosen', 'education', 'guru', 'lecturer', 'professor', 'school counselor', 'teacher', 'tutor'],
    'engineering': ['aerospace', 'chemical', 'electrical', 'engineer', 'mechanic', 'mechanical', 'teknikal', 'teknisi'],
    'event organizer': ['event', 'organizer', 'planner', 'wedding'],
    'finance': ['audit', 'auditor', 'financial', 'investment banker''accountant', 'accounting', 'akunting', 'finance'],
    'healthcare': ['dokter', 'doctor', 'health', 'laboratorium', 'medical', 'medical technician', 'nurse', 'paramedic', 'pharmacist', 'radiologist', 'surgeon', 'terapis'],
    'hospitality': ['bakery', 'barista', 'bartender', 'cafe', 'cook', 'dapur', 'food', 'food and beverage', 'front desk agent', 'hotel', 'kitchen', 'koki', 'receptionist', 'restaurant', 'resto', 'restoran', 'villa', 'waiter', 'waitress','front office'],
    'human resources': ['hr', 'hrd', 'human resource', 'payroll', 'recruitment', 'talent acquisition', 'training'],
    'information system': ['erp', 'information system', 'system analyst', 'odoo', 'sap','system'],
    'it': ['ai', 'ai engineer', 'ai ethics specialist', 'ai ml', 'ai project', 'ai research scientist', 'ai trainer', 'backend', 'back end', 'cloud', 'dev ops', 'devops', 'devops engineer', 'flutter', 'front end', 'front-end', 'full stack', 'fullstack', 'golang', 'help desk technician', 'ios developer', 'it', 'it manager', 'it risk management', 'it service desk', 'it staff', 'java', 'javascript developer', 'machine learning', 'machine learning engineer', 'ml analyst', 'ml consultant', 'ml engineer', 'ml modeler', 'ml researcher', 'mobile apps', 'mobile developer', 'mobile programmer', 'nextjs', 'php developer', 'python', 'react', 'security specialist', 'software developer', 'software engineer', 'systems analysis', 'technical support', 'web', 'web desain', 'web designer', 'web developer'],
    'legal': ['lawyer', 'legal', 'legal assistant', 'paralegal'],
    'logistics & transportation': ['driver', 'ekspedisi', 'export', 'import', 'logistic'],
    'manufacturing': ['manufacturing engineer', 'production', 'produksi'],
    'sales & marketing': ['sales', 'marketing', 'seo'],
    'media and communications': ['communications', 'journalist', 'public relations'],
    'network administration': ['network', 'network administrator'],
    'nonprofit': ['fundraising', 'program', 'volunteer'],
    'operations': ['operasional', 'operations', 'warehouse', 'gudang','area','operational'],
    'product management': ['it presales(ordo)', 'product', 'product analyst', 'product owner', 'project'],
    'quality control': ['quality', 'quality assurance', 'quality control', 'software quality assurance', 'qa', 'qc'],
    'real estate': ['property', 'real estate'],
    'researcher': ['research', 'research analyst', 'research scientist', 'rnd', 'riset'],
    'retail': ['sales associate', 'store', 'visual merchandiser'],
    'social media': ['content creator', 'content writer', 'copywriter', 'content writer','influencer', 'konten kreator', 'live', 'live streaming', 'social media', 'streamer', 'talent'],
    'supply chain': ['supply chain'],
    'tax': ['pajak', 'tax', 'tax consultant'],
    'translator': ['bahasa', 'interpreter', 'penerjemah', 'speaker', 'translator'],
}

# Create a new column 'Job Category' with default value 'Other'
job_dataset['Job Category'] = 'Other'

# Convert job titles and categories to lowercase for case-insensitive comparison
job_dataset['Job Title'] = job_dataset['Job Title'].str.lower()
job_categories = {key.upper(): [title.lower() for title in titles] for key, titles in job_categories.items()}

# Iterate over job categories and update 'Job Category' column based on job title
for category, keywords in job_categories.items():
    try:
        for keyword in keywords:
            job_dataset.loc[job_dataset['Job Title'].str.contains(keyword, na=False, regex=False), 'Job Category'] = category
    except ValueError as e:
        print(f"ValueError: {e}")
        print(f"Problematic rows: {job_dataset[job_dataset['Job Title'].str.contains(keyword)].index}")

In [9]:
job_dataset['Job Category'].value_counts()

Job Category
SALES & MARKETING             1194
Other                         1125
IT                             608
FINANCE                        349
OPERATIONS                     287
SOCIAL MEDIA                   240
PRODUCT MANAGEMENT             230
TRANSLATOR                     212
ENGINEERING                    206
ADMINISTRATION                 187
HUMAN RESOURCES                133
TAX                            129
HOSPITALITY                    101
EDUCATION                      100
DESIGN                          99
CONSULTING                      75
QUALITY CONTROL                 74
LOGISTICS & TRANSPORTATION      60
HEALTHCARE                      58
CUSTOMER SERVICE                58
RETAIL                          51
LEGAL                           45
NONPROFIT                       38
MANUFACTURING                   37
BEAUTY                          36
INFORMATION SYSTEM              29
REAL ESTATE                     21
RESEARCHER                      19
NETWORK ADMINISTRATION          17
EVENT ORGANIZER                 14
DATA                            13
SUPPLY CHAIN                     8
CONSTRUCTION                     8
MEDIA AND COMMUNICATIONS         3
BUSINESS INTELLIGENCE            2
Name: count, dtype: int64

In [15]:
job_dataset['Company Name'].value_counts()

Company Name
anonymous                            260
pt elabram systems                    99
rgf hr agent indonesia                94
pt axa mandiri financial services     47
pt aia financial                      47
                                    ...
sangkil co                             1
kopi tungku mas                        1
nitori trading malaysia sdn bhd        1
cv beta damai sejahtera                1
beyond education center                1
Name: count, Length: 3264, dtype: int64

In [17]:
# create new column 'Scraped Date' with default value '2024-03-03'
job_dataset['Scraped Date'] = '2024-03-03'

In [ ]:
job_dataset.to_csv('jobstreet_cleaned.csv', index=False)

In [20]:
job_dataset['Company Name'].value_counts().to_csv('company_name_counts.csv')

In [21]:
job_dataset['Job Category'].value_counts().to_csv('job_category_counts.csv')