In [1]:
import pandas as pd
import re

In [20]:
df = pd.read_csv('cleaned_29_04_frontend.csv')

In [3]:
df.columns

Index(['job_title', 'company_name', 'job_location', 'work_place',
       'salary_range', 'skill', 'more_detail_link', 'job_id', 'work_type',
       'workplace', 'years_experience', 'min_education', 'category',
       'sub_category', 'role', 'scrapped_date'],
      dtype='object')

In [4]:
# remove 'experience,logo' from the skill column 
df['skill'] = df['skill'].str.replace('experience,logo,', '')

In [5]:
df['skill'] = df['skill'].str.replace('experience,salary,logo,', '')

In [6]:
df['skill'] = df['skill'].str.replace('experience,', '')

In [7]:
df['skill'] = df['skill'].str.replace('logo,', '')

In [8]:
df = df.replace('Not Written','-')

In [9]:
# Cleaning the Workplace
df['workplace'].replace('Kerja di kantor','onsite',inplace=True)
df['workplace'].replace('Remote/Dari rumah','remote',inplace=True)

In [10]:
# Cleaning the Work Experience
df['years_experience'].replace('1 – 3 tahun','1-3',inplace=True)
df['years_experience'].replace('3 – 5 tahun','3-5',inplace=True)
df['years_experience'].replace('5 – 10 tahun','5-10',inplace=True)
df['years_experience'].replace('Lebih dari 10 tahun','>10',inplace=True)
df['years_experience'].replace('Kurang dari setahun','<1',inplace=True)

In [11]:
# Simplified Cleaning of Min Education
education_replacements = {
    'Minimal Diploma (D1 - D4)': 'Diploma',
    'Minimal Sarjana (S1)': 'Sarjana',
    'Minimal Magister (S2)': 'Magister',
    'Minimal SD': 'SD',
    'Minimal SMP': 'SMP',
    'Minimal SMA/SMK': 'SMA/SMK'
}
df['min_education'].replace(education_replacements, inplace=True)

In [12]:
# Cleaning the Job_location 
df[['district','city','province']] = df['job_location'].str.split(',',expand=True)

In [13]:
# delete job_location column
df.drop('job_location',axis=1,inplace=True)

In [16]:
len(df[df['category']!='Computer & Information Technology'])

94

In [22]:
df = df[df['category'] == 'Computer & Information Technology']

In [35]:
df[~df['job_title'].str.contains(r'front.?end', case=False, na=False)]

,Unnamed: 0,job_title,company_name,work_place,salary_range,skill,more_detail_link,job_id,work_type,workplace,years_experience,min_education,category,sub_category,role,scrapped_date,district,city,province
8,8,Fronted Developer,Pt. Quantus Telematika Indonesia,Kerja di kantor,-,"JavaScript,CSS3,React.js,GIT,Vue.js,React Nati...",https://glints.com/id/opportunities/jobs/front...,abe705b4-9be4-4d0b-a958-fd8f2d0e379e,full_time,onsite,1-3,Diploma,Computer & Information Technology,Mobile Development,Mobile Developer,2024-04-29,Coblong,Bandung,Jawa Barat
26,26,Developer,PT Champion Multikarya Pandhega,Kerja di kantor,-,"MySQL,Programming Languages,JavaScript",https://glints.com/id/opportunities/jobs/devel...,aa2dbef0-a500-4319-9771-cceefb1197a5,full_time,onsite,1-3,Sarjana,Computer & Information Technology,Software,Developer,2024-04-29,Kemantren Jetis,Yogyakarta,DI Yogyakarta
28,28,Developer,PT PRIMA FAJAR CAHAYA SURYA,Kerja di kantor,"Rp7jt-Rp8,5jt","iOS Development,Design Ios,Application Develop...",https://glints.com/id/opportunities/jobs/devel...,dfc016fc-acc0-4323-883a-440e6fe36466,contract,onsite,1-3,Sarjana,Computer & Information Technology,Software,Developer,2024-04-29,Kebayoran Baru,Jakarta Selatan,DKI Jakarta
32,32,Developer,PT Digital Fajar Buana,Kerja di kantor,Rp5jt-Rp7jt,"CSS3,Node.js,HTML5,JavaScript",https://glints.com/id/opportunities/jobs/devel...,601fe057-8163-4ddb-8eff-e1f5d5b05ba0,full_time,onsite,3-5,Sarjana,Computer & Information Technology,Software,Developer,2024-04-29,Kemantren Gedongtengen,Yogyakarta,DI Yogyakarta
45,45,Back-End Developer,Pt. Sumatra Sistem Digital,Kerja di kantor,Rp2jt-Rp5jt,"Laravel,PHP,GIT,JavaScript",https://glints.com/id/opportunities/jobs/back-...,ed825a39-0d96-4dbd-a8a8-aab425a948f3,full_time,onsite,1-3,Diploma,Computer & Information Technology,Software,Software Engineer,2024-04-29,Medan Petisah,Medan,Sumatera Utara
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,591,[REMOTE] PHP Web Developer (Full Time),PT Eannovate Creative Technology,Remote/Dari rumah,"Rp4jt-Rp5,5jt","Laravel,Microsoft SQL Server,PHP,MySQL",https://glints.com/id/opportunities/jobs/remot...,c0939471-7936-4e54-8260-70598d177cd7,full_time,remote,1-3,Diploma,Computer & Information Technology,Software,Web Developer,2024-04-29,Tanah Abang,Jakarta Pusat,DKI Jakarta
598,598,fullstack JS Web development,Telogic LTD,Kerja di kantor,Rp6jt-Rp10jt,"Web Development,MongoDB,Nodejs,Angular,MySQL",https://glints.com/id/opportunities/jobs/fulls...,a7e11b3c-a4c0-40e3-bdd3-184ec2d822ac,full_time,onsite,3-5,Sarjana,Computer & Information Technology,Software,Software Developer,2024-04-29,Tanah Abang,Jakarta Pusat,DKI Jakarta
602,602,Mobile Software Engineer,Quipper,Remote/Dari rumah,-,"Swift,REST API,Kotlin",https://glints.com/id/opportunities/jobs/mobil...,91ca9f5a-871b-44f2-bc65-c53cfddd41a9,full_time,remote,3-5,Sarjana,Computer & Information Technology,Mobile Development,Mobile Developer,2024-04-29,Setiabudi,Jakarta Selatan,DKI Jakarta
605,605,Software Engineer/Programmer,Simpul Technologies,Remote/Dari rumah,"Rp5,5jt-Rp9jt","Node.js,HTML5,Ruby on Rails,GIT",https://glints.com/id/opportunities/jobs/softw...,6dffbcd7-2343-4f26-9472-b16fc033aab3,full_time,remote,1-3,SMA/SMK,Computer & Information Technology,Backend Development,Backend Developer,2024-04-29,Sukolilo,Surabaya,Jawa Timur
608,608,Web Programmer Remote,DIFITECH,Remote/Dari rumah,-,"Laravel,Website Management,React.js",https://glints.com/id/opportunities/jobs/web-p...,c28776ac-ec33-470f-90e7-2e8c256576d8,full_time,remote,1-3,SMA/SMK,Computer & Information Technology,Software,Web Developer,2024-04-29,Rawalumbu,Bekasi,Jawa Barat

In [19]:
df.to_csv('cleaned_29_04_frontend.csv')

In [122]:
# delete category column
df.drop('category',axis=1,inplace=True)

# Finding Duplicates from Prev Data

In [1]:
import pandas as pd

In [72]:
# Find duplicate IDs in the second dataset
duplicates = df[df['job_id'].isin(df1['job_id'])]

# Remove duplicates from the second dataset
df2_cleaned = df[~df['job_id'].isin(duplicates['job_id'])]

In [73]:
len(df2_cleaned)

53

In [76]:
combined_df = pd.concat([df1,df2_cleaned], ignore_index=True)

In [78]:
combined_df.drop_duplicates
len(combined_df)

125